.property-card {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
  width: 100%;
  height: 100%;
}

.property-card__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.property-card__details {
  display: flex;
  flex-direction: column;
}

.property-card__address {
  display: flex;
  flex-direction: column;
}

.property-card__row-one,
.property-card__row-two {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.property-card__row-two {
  margin-top: 16px;
}

hr {
  width:100%;
}
