.property-lease__contact-details {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.property-lease__contact-details > span:first-child {
  margin-bottom: 12px;
}

.property-lease__primary-contact {
  cursor: pointer;
  text-decoration: underline;
}
